@charset "utf-8";

// SiteBase.css
/* ! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/
 * Some were added by Designfever.com
 * update : 2017/03/07
*/
// ==========================================================================
// Base styles: opinionated defaults
// --------------------------------------------------------------------------

// Remove text-shadow in selection highlight:
// https://twitter.com/miketaylr/status/12228805301
//
// These selection rule sets have to be separate.
// Customize the background.scss color to match your design.
::-moz-selection {
  background: rgba(0, 0, 0, 0.3);
  text-shadow: none;
  color: #1D1DC5 ;
}

::selection {
  background: rgba(0, 0, 0, 0.3);
  text-shadow: none;
  color: #1D1DC5 ;
}

// base style
// --------------------------------------------------------------------------
html, body {
  width: 100%;
  font-size: 100%;
  height: 100%;
}

body {
  background: #000;
}

body, dl, ul, ol, li, dt, dd, blockquote, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin: 0;
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

table, th, td {
}

caption, legend {
  visibility: hidden;
  height: 0;
  width: 0;
  font-size: 0;
  text-indent: -9999px;
}

pre, xmp, plaintext, listing, samp, kbd, code, figure, figcaption {
  margin: 0
}

iframe {
  border: none;
}

img {
  vertical-align: top
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

input:-ms-input-placeholder {
  color: #888;
}

// Internet Explorer 10 이상에 적용
input::-webkit-input-placeholder {
  color: #888;
}

// Webkit, Blink, Edge에 적용
input::-moz-placeholder {
  color: #888;
}

// Mozilla Firefox 4 부터 18에 적용
input::-moz-placeholder {
  color: #888;
}

// Mozilla Firefox 19 이상에 적용

// base style: Form elements
// --------------------------------------------------------------------------

// box-size정의
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  word-break: keep-all;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  // touch
  -webkit-overflow-scrolling: touch;
}

*:before, *:after {
  display: none;
  content: '';
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

button {
  padding: 0;
  overflow: hidden;
  background: none;
  border: 0;
}

input, button, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: button;
  border-radius: 0;
}

input[type="submit"],
input[type="reset"] {
  vertical-align: top;
  outline: none;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  left: 1px; top: 1px;
  width: 13px; height: 13px;
  margin: 0;
  padding: 0;
}

input[type="tel"],
input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"],
select {
  height: 80px;
  padding: 0 30px;
  border: 1px solid #fff;
  line-height: 80px;
  outline: none;
  vertical-align: baseline;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #95989A;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: #95989A;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: #95989A;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: #95989A;
  }
}

select {
  border: 1px solid #bbb;
}

textarea {
  padding: 16px;
  border: 1px solid #fff;
  line-height: 1.2;
  resize: none;
}

input[type="tel"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
select:disabled,
textarea:disabled {
  background-color: #fff;
  color: #000;
}

button:focus {
  outline: none;
}

input[type="tel"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
  border: 1px solid #000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input::-ms-clear {
  display: none;
}

input[disabled ="disabled"] {
  background: #fff;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

// Remove the gap between audio, canvas, iframes,
// images, videos and the bottom of their containers:
// https://github.com/h5bp/html5-boilerplate/issues/440
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

// Remove default fieldset styles.
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

// base style: Touch Device
// --------------------------------------------------------------------------

// touch-action
//
// 값	                설명
// ....................................................................................
// auto	            브라우저가 요소의 동작을 결정합니다. 이는 -ms-touch-action의 기본값입니다.
// none	            허용되는 기본 동작이 없습니다.
// manipulation	    이동, 손가락을 모아서 축소/확대 및 살짝 밀어서 앞/뒤로 이동만 허용됩니다.
// double-tap-zoom  두 번 탭하여 확대/축소만 허용됩니다.
// inherit	        요소가 해당 상위 요소에서 -ms-touch-action 값을 상속합니다.
//
// api : https://blogs.msdn.microsoft.com/ie_ko/2012/04/28/1153/
[role=button], a, area, button, input, label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

//터치 디바이스 기기에서 탭 하이라이트 효과 제거
// a, button, input, label, select, textarea{-webkit-tap-highlight-color: transparent;}

// base style: Skip Navi & Browser Upgrade Prompt
// --------------------------------------------------------------------------

// skip Navigation
#skip-navi {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 600;
}

#skip-navi a {
  display: block;
  position: absolute;
  top: -9999px;
}

#skip-navi a span {
  display: block;
  padding: 10px 0;
  background: #fafafa;
  border: 2px solid #666;
  box-sizing: border-box;
  color: #000;
  font-size: 16px;
  text-align: center;
}

#skip-navi a:hover, #skip-navi a:active, #skip-navi a:focus {
  display: inline-block;
  top: 0;
  width: 100%;
}

// browser Upgrage
.browser-upgrade {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  background: #efefef;
  border-bottom: 2px solid #bababa;
  padding: 10px 0;
  margin: 0;
  text-align: center;
  font-size: 14px;
  color: #595959;
}

.browser-upgrade a {
  font-size: 18px;
  color: #0027AA;
}

.browser-upgrade a:hover {
  color: #000;
}

// 공통
iframe[name ^='google_']{
  position: absolute; left:-9999px; top:-9999px; width:0; height:0; visibility: hidden;
}


// EXAMPLE Media Queries for Responsive Design.
// These examples override the primary ('mobile first') styles.
// Modify as content requires.
@media only screen and (min-width: 35em) {
  // Style adjustments for viewports that meet the condition
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  // Style adjustments for high resolution devices
}

// base style: browser scroll
// --------------------------------------------------------------------------

// IE scrollbar
// body{
//    scrollbar-face-color:#ddd;
//    scrollbar-3dlight-color:#fff;
//    scrollbar-highlight-color:#fff;
//    scrollbar-shadow-color:#fff;
//    scrollbar-darkshadow-color:#fff;
//    scrollbar-arrow-color:#ddd;
//    scrollbar-track-color:#fff;
// }

// webkit scrollbar

// base style: Print
// Inlined to avoid the additional HTTP request:
// http://www.phpied.com/delay-loading-your-print-css/
// --------------------------------------------------------------------------

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important; //Black prints faster: http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  // Don't show links that are fragment identifiers,
  // or use the `javascript:` pseudo protocol
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  // Printing Tables:
  // http://css-discuss.incutio.com/wiki/Printing_Tables
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

