@mixin borderRadius($pos:'',$r:0px) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        @if($pos==''){
            #{$prefix}border-radius : $r;
        }
        @else{
            #{$prefix}border-#{$pos}-radius : $r;
        }

    }
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacityIE: $opacity * 100;
    filter: alpha(opacity=$opacityIE);
}

/* transform */
@mixin transform( $value) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}transform: $value;
    }
}

/* filter */
@mixin filter( $value) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}filter: $value;
    }
}

/* css-transition */
@mixin css-value-transition($value) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}transition: #{$value};
    }
}

/* font */
@mixin calLetterSpacing( $spacing ){
    letter-spacing: -($spacing / 1000) + em;
}

/* background cover */
@mixin backgroundCover() {
    background-repeat   : no-repeat;
    background-position : center;
    background-size     : cover;
}


@charset "utf-8";
$video-Din-Opacity: 0.5;
