.background-container {
    color:#fff;

    .left-text {
        position: absolute;
        left: -260px;
        top: 50%;
        padding:80px;
        font-family: "GothamUltraItalic";
        font-size: 160px;
        margin-top: -160px;
        @include transform(rotate(90deg));
    }

    .right-text {
        position: absolute;
        right: -260px;
        top: 50%;
        padding:80px;
        font-family: "GothamUltraItalic";
        font-size: 160px;
        margin-top: -160px;
        margin-left: 0;
        @include transform(rotate(90deg));
    }
}
