@mixin opacity($opacity) {
  opacity: $opacity;
  $opacityIE: $opacity * 100;
  filter: alpha(opacity=$opacityIE);
}

/* blur */
@mixin blur($value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}filter: blur($value+px);
  }
}

/* transform */
@mixin no-transition() {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
@mixin transform( $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}transform: $value;
  }
}

@mixin transform-css-transition($value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}transition: #{$prefix}transform #{$value};
  }
}
@mixin transform-transition($time,$delay,$bezier) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}transition: #{$prefix}transform #{$time}s cubic-bezier(#{$bezier});
    #{$prefix}transition-delay: #{$delay}s;
  }
}
@mixin transform-transition-inout($time:1,$delay:0){
  $bezier: .70, 0, .20, 1;
  @include transform-transition($time,$delay,$bezier);
}

@mixin css-transition($property,$time,$delay,$bezier) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}transition: #{$property} #{$time}s cubic-bezier(#{$bezier});
    #{$prefix}transition-delay: #{$delay}s;
  }
}
@mixin css-transition-inout($property:all,$time:1,$delay:0){
  $bezier: .5, 0, .5, 1;
  @include css-transition($property,$time,$delay,$bezier);
}
@mixin css-transition-in($property:all,$time:1,$delay:0){
  $bezier: .5, 0, 1, .5;
  @include css-transition($property,$time,$delay,$bezier);
}
@mixin css-transition-out($property:all,$time:1,$delay:0){
  $bezier: 0, .5, .5, 1;
  @include css-transition($property,$time,$delay,$bezier);
}

@mixin border-box() {
  box-sizing: border-box;
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{prefix}box-sizing: border-box;
  }
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  transition: $args;
}
/* keyframes */
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin animationFrame($str, $count, $duration) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}animation-name: $str;
    #{$prefix}animation-iteration-count: $count;
    #{$prefix}animation-duration: $duration;
  }
}

@mixin animationDelay($delay) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}animation-delay: $delay;
  }
}

@include keyframes(scroll-loop) {
  0% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  #{$prefix}transform: translateY(0);} }
  50% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  #{$prefix}transform: translateY(5px);} }
  100% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  #{$prefix}transform: translateY(0);} }
}
@include keyframes(kv-loop1) {
  0% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  #{$prefix}transform: translate(0,0) rotate(0deg); @include opacity(0)} }
  25% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' { @include opacity(1)} }
  50% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  #{$prefix}transform: translate(10px,10px) rotate(10deg);@include opacity(0)}}
  50% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  @include opacity(1)}}
  100% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  #{$prefix}transform: translate(0,0) rotate(0deg);@include opacity(0)}}
}
@include keyframes(kv-loop2) {
  0% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  #{$prefix}transform: translate(0,0) rotate(0deg); @include opacity(1)} }
  50% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  #{$prefix}transform: translate(10px,10px) rotate(10deg);@include opacity(0)}}
  100% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  #{$prefix}transform: translate(0,0) rotate(0deg);@include opacity(1)}}
}
@include keyframes(kv-loop3) {
  0% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  #{$prefix}transform: translate(0,0) rotate(0deg); @include opacity(0.5)} }
  20% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  @include opacity(1)} }
  40% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  @include opacity(0.5)} }
  60% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  #{$prefix}transform: translate(10px,10px) rotate(10deg);@include opacity(0)}}
  75% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  @include opacity(0.5)} }
  90% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  @include opacity(1)} }
  100% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  #{$prefix}transform: translate(0,0) rotate(0deg);@include opacity(0.5)}}
}
@include keyframes(kv-loop4) {
  0% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  #{$prefix}transform: translate(0,0) rotate(0deg); @include opacity(0.2)} }
  15% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  @include opacity(1)} }
  30% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  @include opacity(0.1)} }
  45% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  #{$prefix}transform: translate(10px,10px) rotate(10deg);@include opacity(0.8)} }
  60% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  @include opacity(0.3)}}
  75% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  @include opacity(1)} }
  90% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  @include opacity(0)} }
  100% {   @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  #{$prefix}transform: translate(0,0) rotate(0deg);@include opacity(0.2)}}
}
/*txt transition*/
@mixin basic_trans($x,$y:0,$time:0.7){
  @include opacity(0);@include transform(translate(#{$x},#{$y}));@include transform-css-transition('#{$time}s cubic-bezier(.5, 0, .5, 1), opacity #{$time}s cubic-bezier(.5, 0, 1, .5)')
}
@mixin basic_trans_out($x,$y:0,$time:0.7){
  @include opacity(0);@include transform(translate(#{$x},#{$y}));@include transform-css-transition('#{$time}s cubic-bezier( 0, .5, .5, 1), opacity #{$time}s cubic-bezier(.5, 0, 1, .5)')
}
@mixin basic_trans_on(){
  @include opacity(1);@include transform(translate(0,0));
}


/* line */
@mixin line($width,$height,$color:#000,$time:0.5){
  position: absolute; width : $width; height : $height;border-top:1px solid $color;
  @include opacity(0);
  @include css-transition-inout(all,$time);
}

@mixin lineTop($width,$height,$color:#000,$time:0.5){
  position: absolute; width : $width; height : $height;border-left:1px solid $color;
  @include opacity(0);
  @include css-transition-inout(all,$time);
}

/* rotate */
@mixin rotate($degree) {
  -ms-transform: rotate($degree); /* IE 9 */
  -webkit-transform: rotate($degree); /* Chrome, Safari, Opera */
  transform: rotate($degree);
}

/* fonts */
@mixin fontSetting($font,$size,$ls,$lh){
  font-family:$font;
  font-size:$size;
  letter-spacing:$ls;
  line-height:$lh;
  font-weight:100;
}

@mixin fontLayout( $t,$r,$b,$l,$tt){
  padding:$t+px $r+px $b+px $l+px;
  margin-top:$tt+px;
}

/* drop shadow */
@mixin boxShadow($blurX, $blurY, $blurRadius, $alpha) {
  box-shadow: $blurX+px $blurY+px $blurRadius+px rgba(0,0,0,$alpha);
  @each $prefix in -webkit-, -moz-, '' {
    #{$prefix}box-shadow: $blurX+px $blurY+px $blurRadius+px rgba(0,0,0,$alpha);
  }
}

/* image center */
@mixin setCenter( $x, $y, $width, $height) {
  margin-top:$height/2 * -1 + px;
  margin-left:$width/2 * -1 + px;

  left:$x + $width/2 + px;
  top:$y + $height/2 + px;

  width:$width + px;
  height:$height + px;
}


