header {
    z-index                : 1;
    transform              : translateZ(0);
    -moz-transform         : translatez(0);
    -ms-transform          : translatez(0);
    -o-transform           : translatez(0);
    -webkit-transform      : translateZ(0);
    -webkit-font-smoothing : antialiased;
}

@media only screen and (max-width : 767px) {
    .logo {
        font-size:20px;
    }

    h1 {
        font-size   : 7.8vw;
        line-height : 1.0em;
    }

    h2 {
        font-size     : 6vw;
        line-height   : 1.2em;
        letter-spacing: -0.05em;
    }

    h3 {
        font-size     : 4.3vw;
        margin-top:0.2em;
        line-height : 1.2em;
    }

    h4 {
        font-size     : 3vw;
        line-height   : 1.2em;
    }

    p {
        font-size   : 3vw;
        line-height : 1.5em;
        letter-spacing : -0.02em;
    }

    menu {
        font-family : 'Montserrat', sans-serif;
        font-size   : 8px;
        line-height : 20px;
        letter-spacing : -0.02em;
        font-weight : 900;
    }

    .frame-container {
        .logo {
            left:20px;
            top:14px;
        }
        .btn-menu {
            top:6px;
            right:6px;
        }
        .title {
            display:none;
        }
        .navigation-container {
            display:none;
        }

        .language-container {
            display:none;
        }
    }

    .view-content-title {
        h3 {
            margin-top:-1vw;
        }
    }

    .view-main {
        .title {
            ul {
                position   : absolute;
                left       : 50%; width : 80%; bottom : 10%;
                transform  : translateX(-50%);
                text-align : center;

                li {
                    width         : 100%;
                    margin-bottom : 2vw;
                    text-align    : left;
                }
            }
        }
    }

    .view-content-holder {

        .content-image {
            position  : absolute;
            left      : 10vw; top : 10vw;
            transform : translateX(0) translateY(0);
            overflow:hidden;
            height:22vh;

            img {
                width : 80vw;
            }

            &.left { left :10vw; }
            &.right { left :10vw; }
        }


        .content-about-partner {
            .partner {
                img {
                    width : 20vw;
                }
            }
        }

        .content-txt {
            text-align: left;

            h2{
                position:relative;
                left:50%;
                transform: translateX(-50%);
                max-width:80vw;
                width:80vw;

                span {
                    &.last { margin-bottom : 2vh; }
                }
            }

            .txt {
                position:relative;
                max-width:80vw;
                width:80vw;
            }

            .image-frame {
                margin-top:5vw;
                margin-left:10vw;
                span {
                    //width:100%;
                    display:inline-block;

                    div {
                        text-align:center;
                    }

                    .title {
                        display:none;
                    }
                }

                img {
                    max-height:20vw;
                }
            }

            &.left {
                width:100vw;
                .txt {
                    max-width : 80vw;
                    width     : 80vw;
                    left:10vw;
                }
            }

            &.right {
                width:100vw;
                .txt {
                    max-width : 80vw;
                    width     : 80vw;
                    left:10vw;
                }
            }

        }

    }

    .view-footer {
        .contact {
            h1 {
                font-size:4vw;
                margin-bottom:1vw;

                box-shadow:none;
            }
            p {
                font-family: "GothamLight";
                font-style: italic;
                font-size:3vw;
                line-height:2em;
            }
            .email {
                display:inline-block;
                position:relative;

                font-family: "GothamLight";
                font-style: italic;
                font-size:3vw;
                border-bottom: 1px solid #ffffff;
            }
            padding: 10vw 0 0 0;
        }
        .copyright {
            padding: 4vw 0 10vw 0;

            .logo {
                left: 40px;
                top: 30px;
                font-size: 2vw;
                color:#fff;
                margin-bottom:10px;
            }
        }
    }

}


