@media only screen and (max-width : 767px) {
    .logo {
        font-size:20px;
    }

    h1 {
        font-size   : 7vw;
        line-height : 0.75em;
    }

    .frame-container {
        .logo {
            left:20px;
            top:14px;
        }
        .btn-menu {
            top:6px;
            right:6px;
        }
        .title {
            display:none;
        }
        .navigation-container {
            display:none;
        }
    }

    .menu-container {

    }

}
