@import "common/mixin";
@import "common/normalize";
@import "common/common";

@import "webfont.scss";
@import "frame.scss";
@import "background.scss";
@import "contents.scss";

body {
    background: #000;
    color: #fff;

    width: 100%;

    font-size: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
}

::-webkit-scrollbar {
    display: none;
}

.view-background {
    position:fixed;
}

.view-content-margin {
    display             : block;
    position            : relative;
}

.view-content-title {
    display: block;
    position:relative;

    h3 {
        position:absolute;
        bottom:0;
        text-align:center;
        width:100%;
        padding-bottom:3vh;
    }
}

.view-content-holder {
    display             : inline-block;
    position            : relative;
    text-align          : center;
    margin              : 0 auto;
    font-size: 0;

    .content {
        background-repeat   : no-repeat;
        background-position : center;
        background-size     : cover;
    }

    .comp-image {
        position            : relative;
        background-repeat   : no-repeat;
        background-position : center;
        background-size     : cover;
    }

    .content-image {
        display   : block;
        position  : absolute;
        left      : 50%;
        top       : 50%;
        transform : translateX(-50%) translateY(-50%);

        &.left {
            left : 30%;
        }
        &.right {
            left : 60%;
        }

        .title {
            display : none;
        }
    }

    .content-video {
        display: block;
        position: relative;;
    }

}


