@import "normalize";
@import "common";
@import "webfont";
@import "mixin";

body { background:#000; font-family:"Gotham-Ultra"; color:#fff;}

::-webkit-scrollbar {
  display: none;
}

.navigation {
  position: fixed;
  background: #fff;
  color: #000;
  width: 320px;
  height: 100%;
  left: -320px;
  z-index: 1000;

  .logo {
    position: absolute;
    left: 46px;
    top: 46px;
    font-family: "Gotham-UltraItalic";
    font-size: 20px;
  }
  .menu-list {
    position: absolute;
    left: 46px;
    top: 320px;
  }
  .menu-list li {
    font-family: "Gotham-UltraItalic";
    font-size: 36px;

    a {
      opacity: 0.3;
    }
  }

  footer {
    position: absolute;
    left: 46px;
    bottom: 50px;
    opacity: 0.5;
  }
  .button {
    position: absolute;
    display: block;
    left: 320 + 29px;
    top: 29px;
    width: 65px;
    height: 65px;
    border: 2px solid #fff;
    cursor: pointer;
  }
}

.content-container {
  position: relative;
  background: #000;
  color: #fff;
  z-index: 100;

  -webkit-overflow-scrolling: touch;

  //overflow-y: hidden;
  overflow-x: hidden;

  section {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: #000000;

    -webkit-overflow-scrolling: touch;

    overflow-y:scroll;
  }

}
