/* Webfont:  */

@font-face {
  font-family: 'Gotham-UltraItalic';
  src: url('assets/fonts/Gotham-UltraItalic.eot');
  src: url('assets/fonts/Gotham-UltraItalic.eot?#iefix') format('embedded-opentype'),
  //url('assets/fonts/Gotham-UltraItalic.woff2') format('woff2'),
  //url('assets/fonts/Gotham-UltraItalic.woff') format('woff'),
  //url('assets/fonts/Gotham-UltraItalic.ttf') format('truetype'),
  url('assets/fonts/Gotham-UltraItalic.svg#Gotham-UltraItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham-Ultra';
  src: url('assets/fonts/Gotham-Ultra.eot');
  src: url('assets/fonts/Gotham-Ultra.eot?#iefix') format('embedded-opentype'),
  //url('assets/fonts/Gotham-Ultra.woff2') format('woff2'),
  //url('assets/fonts/Gotham-Ultra.woff') format('woff'),
  //url('assets/fonts/Gotham-Ultra.ttf') format('truetype'),
  url('assets/fonts/Gotham-Ultra.svg#Gotham-Ultra') format('svg');
  font-weight: 500;
  font-style: normal;
}



/* 웹 폰트 자간, 행간 디테일 세팅  */
body,input,textarea,select,button, td {
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -moz-font-feature-settings:"liga", "kern";
}